[Desktop Entry]
Name=Hsl
Comment=Public transportation in Helsinki
Icon=/usr/share/hicolor/80x80/apps/publictransportation.png
Type=Service
Exec=$PROVIDER libhsl.so
X-PublicTransportation-BackendInfo-Id=org.SfietKonstantin.publictransportation.hsl
X-PublicTransportation-BackendInfo-Country=FI
X-PublicTransportation-BackendInfo-Cities=Helsinki
X-PublicTransportation-BackendInfo-Author=Lucien XU
X-PublicTransportation-BackendInfo-Email=sfietkonstantin@free.fr
X-PublicTransportation-BackendInfo-Website=
X-PublicTransportation-BackendInfo-Version=1.0.0
