[Desktop Entry]
Name=Transpole
Comment=Transports de la région de Lille
Comment[fr]=Transports de la région de Lille
Icon=
Type=Service
Exec=$PROVIDER libtranspole.so
X-PublicTransportation-BackendInfo-Id=org.SfietKonstantin.publictransportation.transpole
X-PublicTransportation-BackendInfo-Country=France
X-PublicTransportation-BackendInfo-Cities=Lille
X-PublicTransportation-BackendInfo-Author=Lucien XU
X-PublicTransportation-BackendInfo-Email=sfietkonstantin@free.fr
X-PublicTransportation-BackendInfo-Website=
X-PublicTransportation-BackendInfo-Version=1.0.0
