[Desktop Entry]
Name=Transpole
Comment=Public transportation in Lille
Comment[fr_FR]=Transports en commun de Lille
Icon=/usr/share/hicolor/80x80/apps/publictransportation.png
Type=Service
Exec=$PROVIDER libtranspole.so
X-PublicTransportation-BackendInfo-Id=org.SfietKonstantin.publictransportation.transpole
X-PublicTransportation-BackendInfo-Country=FR
X-PublicTransportation-BackendInfo-Cities=Lille
X-PublicTransportation-BackendInfo-Author=Lucien XU
X-PublicTransportation-BackendInfo-Email=sfietkonstantin@free.fr
X-PublicTransportation-BackendInfo-Website=
X-PublicTransportation-BackendInfo-Version=1.0.0
