[Desktop Entry]
Name=Transpole
Comment=Public transportation in Lille
Icon=/usr/share/hicolor/80x80/apps/publictransportation.png
Type=Service
Exec=$PROVIDER libtranspole.so
X-PublicTransportation-BackendInfo-Id=org.SfietKonstantin.publictransportation.transpole
X-PublicTransportation-BackendInfo-Country=FR
X-PublicTransportation-BackendInfo-Cities=Lille
X-PublicTransportation-BackendInfo-Author=Lucien XU
X-PublicTransportation-BackendInfo-Email=sfietkonstantin@free.fr
X-PublicTransportation-BackendInfo-Website=
X-PublicTransportation-BackendInfo-Version=1.0.0


# Translations
Comment[de]=Öffentliche Verkehrsmittel in Lille
Name[de]=Transpole
Icon[de]=/usr/share/hicolor/80x80/apps/publictransportation.png
Comment[it_IT]=Trasporti pubblici di Lille
Name[it_IT]=Transpole
Icon[it_IT]=/usr/share/hicolor/80x80/apps/publictransportation.png
Comment[fr_CH]=Transports en communs à Lille gérés par Transpole
Name[fr_CH]=Transpole
Icon[fr_CH]=/usr/share/hicolor/80x80/apps/publictransportation.png
Comment[fr_FR]=Transports en communs à Lille gérés par Transpole
Name[fr_FR]=Transpole
Icon[fr_FR]=/usr/share/hicolor/80x80/apps/publictransportation.png
