[Desktop Entry]
Name=RATP
Comment=Public transportation in Paris
Icon=/usr/share/hicolor/80x80/apps/publictransportation.png
Type=Service
Exec=$PROVIDER libratp.so
X-PublicTransportation-BackendInfo-Id=org.SfietKonstantin.publictransportation.ratp
X-PublicTransportation-BackendInfo-Country=FR
X-PublicTransportation-BackendInfo-Cities=Paris
X-PublicTransportation-BackendInfo-Author=Lucien XU
X-PublicTransportation-BackendInfo-Email=sfietkonstantin@free.fr
X-PublicTransportation-BackendInfo-Website=
X-PublicTransportation-BackendInfo-Version=1.0.0


# Translations
Name[de]=RATP
Icon[de]=/usr/share/hicolor/80x80/apps/publictransportation.png
Comment[de]=Öffentliche Verkehrsmittel in Paris
Name[it_IT]=RATP
Icon[it_IT]=/usr/share/hicolor/80x80/apps/publictransportation.png
Comment[it_IT]=Trasporti pubblici di Parigi
Name[fr_CH]=RATP
Icon[fr_CH]=/usr/share/hicolor/80x80/apps/publictransportation.png
Comment[fr_CH]=Transports en communs à Paris gérés par la RATP
Name[fr_FR]=RATP
Icon[fr_FR]=/usr/share/hicolor/80x80/apps/publictransportation.png
Comment[fr_FR]=Transports en communs à Paris gérés par la RATP
