[Desktop Entry]
Name=RATP
Comment=Public transportation in Paris
Comment[fr_FR]=Transports en commun à Paris
Icon=/usr/share/hicolor/80x80/apps/publictransportation.png
Type=Service
Exec=$PROVIDER libratp.so
X-PublicTransportation-BackendInfo-Id=org.SfietKonstantin.publictransportation.ratp
X-PublicTransportation-BackendInfo-Country=France
X-PublicTransportation-BackendInfo-Cities=Paris
X-PublicTransportation-BackendInfo-Author=Lucien XU
X-PublicTransportation-BackendInfo-Email=sfietkonstantin@free.fr
X-PublicTransportation-BackendInfo-Website=
X-PublicTransportation-BackendInfo-Version=1.0.0
