[Desktop Entry]
Name=Transports lausannois
Comment=Public transportation in Lausanne
Comment[fr_FR]=Transports en commun de Lausanne
Icon=/usr/share/hicolor/80x80/apps/publictransportation.png
Type=Service
Exec=$PROVIDER libtl.so
X-PublicTransportation-BackendInfo-Id=org.SfietKonstantin.publictransportation.tl
X-PublicTransportation-BackendInfo-Country=CH
X-PublicTransportation-BackendInfo-Cities=Lausanne
X-PublicTransportation-BackendInfo-Author=Lucien XU
X-PublicTransportation-BackendInfo-Email=sfietkonstantin@free.fr
X-PublicTransportation-BackendInfo-Website=
X-PublicTransportation-BackendInfo-Version=1.0.0
