[Desktop Entry]
Name=transport.opendata.ch
Comment=Public transportation in Switzerland
Comment[fr_FR]=Transports en commun en Suisse
Icon=/usr/share/hicolor/80x80/apps/publictransportation.png
Type=Service
Exec=$PROVIDER libopendatach.so
X-PublicTransportation-BackendInfo-Id=org.SfietKonstantin.publictransportation.opendatach
X-PublicTransportation-BackendInfo-Country=Switzerland
X-PublicTransportation-BackendInfo-Cities=All
X-PublicTransportation-BackendInfo-Author=Lucien XU
X-PublicTransportation-BackendInfo-Email=sfietkonstantin@free.fr
X-PublicTransportation-BackendInfo-Website=
X-PublicTransportation-BackendInfo-Version=1.0.0
