[Desktop Entry]
Name=SIBRA
Comment=Public transportation in Annency
Icon=/usr/share/hicolor/80x80/apps/publictransportation.png
Type=Service
Exec=$PROVIDER libsibra.so
X-PublicTransportation-BackendInfo-Id=org.SfietKonstantin.publictransportation.sibra
X-PublicTransportation-BackendInfo-Country=FR
X-PublicTransportation-BackendInfo-Cities=Annency
X-PublicTransportation-BackendInfo-Author=Lucien XU
X-PublicTransportation-BackendInfo-Email=sfietkonstantin@free.fr
X-PublicTransportation-BackendInfo-Website=
X-PublicTransportation-BackendInfo-Version=1.0.0


# Translations
Comment[de]=Öffentliche Verkehrsmittel in Annency
Name[de]=SIBRA
Icon[de]=/usr/share/hicolor/80x80/apps/publictransportation.png
Comment[it_IT]=Trasporti pubblici di Annency
Name[it_IT]=SIBRA
Icon[it_IT]=/usr/share/hicolor/80x80/apps/publictransportation.png
Comment[fr_CH]=Transports en communs à Annecy gérés par la SIBRA
Name[fr_CH]=SIBRA
Icon[fr_CH]=/usr/share/hicolor/80x80/apps/publictransportation.png
Comment[fr_FR]=Transports en communs à Annecy gérés par la SIBRA
Name[fr_FR]=SIBRA
Icon[fr_FR]=/usr/share/hicolor/80x80/apps/publictransportation.png
