[Desktop Entry]
Name=SIBRA
Comment=Public transportation in Annency
Comment[fr_FR]=Transports en commun à Annency
Icon=/usr/share/hicolor/80x80/apps/publictransportation.png
Type=Service
Exec=$PROVIDER libsibra.so
X-PublicTransportation-BackendInfo-Id=org.SfietKonstantin.publictransportation.sibra
X-PublicTransportation-BackendInfo-Country=France
X-PublicTransportation-BackendInfo-Cities=Annency
X-PublicTransportation-BackendInfo-Author=Lucien XU
X-PublicTransportation-BackendInfo-Email=sfietkonstantin@free.fr
X-PublicTransportation-BackendInfo-Website=
X-PublicTransportation-BackendInfo-Version=1.0.0
